version: '3.0'

services:
  nginx:
    restart: always
    image: nginx:alpine
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./www/html:/usr/share/nginx/html:ro
      - ./data/log:/var/log/nginx
      - ./data/conf.d:/etc/nginx/conf.d:ro
      # - ./data/certs:/etc/nginx/certs:ro
