version: '3.0'

services:
  nginx:
    restart: always
    image: nginx:alpine
    ports:
      - 80:80
      - 443:443
      - 1883:1883
      - 8883:8883
    environment:
      TZ: "Asia/Shanghai"
    volumes:
      - ./www/html:/usr/share/nginx/html:ro
      - ./data/log:/var/log/nginx
      - ./data/conf.d/rabbit/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./data/conf.d/brender:/etc/nginx/conf.d:ro
      - ./data/certs:/etc/nginx/certs:ro
